################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ROOFUklon
/Backup
/Setup/Setup/Default Configuration/Release
/Setup
/Setup32/PROJECT_ASSISTANT/SINGLE_EXE_IMAGE
/Setup_64/Setup/Default Configuration/Release
/Setup_64/Setup/Default Configuration/Interm
/Setup64/PROJECT_ASSISTANT/SINGLE_EXE_IMAGE/DiskImages/DISK1
/Setup32/PROJECT_ASSISTANT/Interm
/Setup64/PROJECT_ASSISTANT
